/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: .8rem;
  }

/* FLOAT Rules */
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/* Flex Rules */
.flex-between-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* ----------------- Header ----------------- */


nav{
    height: 80px;
}

.nav-item{
    margin: 0 1rem;
}
.nav-div-item{
    padding: 0 1rem;
    height: 100%;
}

/* ----------------- Main ----------------- */

/* Jumbo */
#jumbo{
    background-color: #b4d0e7;
}

#container-jumbo{
    width: 70%;
    margin: 0 auto;

}

#title-jumbo{
    font-size: 5rem;
}

#jumbo-pic{
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}




























/* Background Colors */

.bg-blu{
    background-color: #005aed;
}


/* Font Colors */

.txt-white{
    color: aliceblue;
}














