/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
  }

/* FLOAT Rules */
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/* Flex Rules */
.flex-between-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column-space-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-wrap{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}





/* ----------------- Header ----------------- */
.container-big{
    width: 70%;
    margin: 0 auto;
    max-width: 950px;
    min-width: 950px;
}
/*  Navbar */
nav{
    height: 80px;
}
.nav-item{
    margin: 0 1rem;
}
.nav-div-item{
    padding: 0 1rem;
    height: 100%;
}

/* <!-- Container Jumbo  --> */
#jumbo{
    background-color: #b4d0e7;
}
#title-jumbo{
    font-size: 4rem;
}

.container-description{
    position: relative;
    top: 50px;
}

.cloumn-img{
    width: 120%;
}
#jumbo-pic{
    width: 100%;
}
.cloumn-description{
    width: 70%;
    height: 100%;
}
.row-down{
    font-size: 3rem;
    margin: 4rem 0;
}

/* ----------------- Main ----------------- */

/* Title Brouschure */
#container-broshure{
    margin-top: 3rem;
}
.radio{
    margin:2rem 0;
    display: inline-block;
}
.margin-left{
    margin: 0 1rem;
}

.title{
    font-size: 2.3rem;
}


/* Cards */

.card{
    height: 800px;
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}
.small-card{
    width: calc(100% - 40px);
    margin: 30px 20px;
    height: auto;
}

.card-2{
    width: 40%;
    height: 500px;
    padding-left: 10px;
    padding-top: 40px;
}

.image{
    width: 60%;
    height: 500px;
}

.image img{
    width: 100%;
}





/* <!-- Bottons--> */

.botton-trialmode{
    margin: 2rem 0;
    padding: 10px;
    width: 150px;
}


/* Common Formules */

.line-height{
    line-height: 3rem;
}

.padding-left{
    padding-left: 1rem;
}

.mardin-1rem{
    margin: 1rem;
}

hr{
    width: 30px;
}

.align-txt{
    text-align: center;
}

/* Borders Size & Colors */

.brd-gray{
    border: 1px solid gray;
}


/* Background Colors */

.bg-blu{
    background-color: #005aed;
}


/* Font Colors */

.txt-white{
    color: aliceblue;
}


.no-decoration{
    text-decoration: none;
}


.bold{
    font-weight: bold;
}




.container-big{
margin: 0 auto;
max-width: 950px;
}

.flex{
display: flex;
}

.bg-red{
background-color: #fe1c1c;
}

.bg-blue{
background-color: #0d2480;
}

.bg-sky-blue{
background-color: #0092cd;
}

.bg-light-blue{
background-color: #b3cfe6;
}

.bg-yellow{
background-color: #fed730;

}
.bg-dark-red{
background-color: #61082b;

}
.bg-light-green{
background-color: #a1d29a;
}

.bg-light-grey{
background-color: #f4f4f4;
}


section.bg-light-blue{
/* height: 200px; */
background-color: #b4d0e7;
}

section.jumbotron{
padding-top: 0;
padding-bottom: 1rem;
}

section.jumbotron > div.container-big{
position: relative;
top: 80px;
}

div.columns{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

div.column{
font-size: 0.75rem;
/* border: 2px solid red; */
padding-top: 3rem;
}

div.column p{
margin-bottom: 1rem;
}

div.column button{
margin-bottom: 1rem;
}

div.column img{
width: 100%;
} 

div.column-30{
width: 30%;
}

div.column-70{
width: 70%;
}

div.column-third{
width: calc(100vw / 3);
height: calc(100vw / 3);
/* border: 4px magenta solid; */
display: flex;
flex-wrap: wrap;
padding: 0;
}

article.client-square{
/* background-color: aqua; */
width: 50%;
height: 50%;
display: flex;
}

article.client-square img{
width: 50%;
margin: auto;
filter: invert(1);
}

div.column-third.bg-light-grey{
padding: 2rem;
}

div.column-third.bg-light-grey img{
width: 50%;
}









