/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
  }

/* FLOAT Rules */
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

/* Flex Rules */
.flex-between-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.container-big{
    width: 70%;
  margin: 0 auto;
}

/* ----------------- Header ----------------- */

/*  Navbar */
nav{
    height: 80px;
}
.nav-item{
    margin: 0 1rem;
}
.nav-div-item{
    padding: 0 1rem;
    height: 100%;
}

/* <!-- Container Jumbo  --> */
#jumbo{
    background-color: #b4d0e7;
}
#title-jumbo{
    font-size: 5rem;
}

.container-description{
    position: relative;
    top: 80px;
}
.cloumn-img{
    width: 70%;
}
#jumbo-pic{
    width: 100%;
}
.cloumn-description{
    width: 70%;
}


/* ----------------- Main ----------------- */



/* <!-- Contenuti e Broshure --> */






/* <!-- Bottons--> */

.botton-trialmode














.align-txt{
    text-align: center;
}


/* Background Colors */

.bg-blu{
    background-color: #005aed;
}


/* Font Colors */

.txt-white{
    color: aliceblue;
}














